@font-face {
    font-family: Citynova; 
    src: url(fonts/CITYNOVA.TTF); 
 }
 @font-face {
    font-family: "Bebas Neue"; 
    src: url(fonts/BebasNeueBold.ttf); 
 }

* {
	margin: 0 auto;
}
/*Page settings start*/
html,
body {
    height:100%;
}

body {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	background: url(img/cont_bg.png) 0 0 repeat;
}

.page {
	margin: 0 auto;
	width: 900px;
	min-height: 100%;
    background: url(img/body_bg.png) 0 0 repeat;
	box-shadow: 0 0 15px #777;

}

.header {
	background-color: #322f2f;
	height: 70px;
    padding: 15px 0 15px 5px;
    margin-bottom: 10px;
	box-shadow: 0 0 10px #322f2f;
}

.mainlogo {
    display: inline-block;
    float: left;
    width: 280px;
    height: 100%;
    background: url(img/main_logo.png) 0 -10px no-repeat;
    margin:2px 0 0 5px;
}

.header a {
	display: inline-block;
	height: 100%;
}
.navigation {
	height: 60px;
    display:inline-block;

}
.navigation_bar {
	height: 40px;
	margin: 0;
	padding: 0;
    display:inline-block;
    padding: 20px 0 0 0;
	margin-bottom: 6px;
}
.navigation_item {
	float: left;
	list-style-type: none;
	height: 20px;
	width: 97px;
	margin: 0 1px 0 1px;
}
.navigation_item a{
	text-decoration: none;
	font-size: 17px;
	font-family: "Bebas Neue",sans-serif;
	display: block;
	height: 100%;
	line-height: 20px;
	color: #fff;
	font-weight: 400;
	text-align: center;
	letter-spacing: 0.5px;
}
.navigation_item:hover a{
	color: #78F6D9;
	font-weight: 400;
}


.clr {
	height: 110px;
}

.footer {
	background-color: #322f2f;
	clear: both;
	height: 100px;
	width: 900px;
	margin: -110px auto 0;
	padding-top: 10px;
	border-bottom: none;
	box-shadow: 0 0 10px #322f2f;
}

.footer p{
	line-height: 22px;
	color: #fff;
	font-size: 12px;
	font-weight: 400;
}

.footer_text1 {
    margin: 0 0 0 10px;
	height: 100%;
	vertical-align: middle;
	float: left;
	display: inline-block;
}

.footer_text1 a {
	color: #78F6D9;
	font-size: 15px;
}


.footer_text2 {
	height: 100%;
	vertical-align: middle;
	display: inline-block;
	margin-left: 120px;
	width: 200px;
}

.slider {
	box-shadow: 0 0 10px #322f2f;
}

.footer_text2 p {
	text-align: right;
    font-size: 16px;
    font-weight: 500;
}

.rambler {
	position: relative;
	top: 18px;
	left: 112px;
	display: inline;
	
}

.bg {
	position: relative;
	height: 96px;
	width: 144px;
	top: 4px;
	margin: 0 auto;
	background: url(img/cable2.png) no-repeat;
	margin-left: 120px;
	display: inline-block;
	float: left;
	
}
/*Page settings end*/

#current_page a{
	color: #78F6D9;
	font-weight: 400;
}

/*Content settings start*/
.content h2, .content p, .content h4, .content li{
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #525252;
}
.content a {
	color: #41C695;
	font-weight: 600;
}
.content h4 {
	text-align: center;
}
.content h2 {
    margin: 20px 0 0 30px;
}
/*Content settings end*/

/*Contacts settings start*/
#contacts .inner {
    margin: 10px 0 0 20px;
    width: 260px;
    float: left;
}
#contacts .inner td {
    height: 30px;
}
#contacts .inner tr td:first-child {
    width: 80px;
}
#contacts .map {
    margin: 10px 25px 10px 5px;
    width: 580px;
    height: 400px;
    box-shadow: 0 0 10px #222; 
}
#contacts .map:hover{
    box-shadow: 0 0 10px #78F6D9;
}
#contacts .text-td{
    vertical-align: top;
}
#contacts a {
    color: #525252;
   	font-weight: 600;
}
/*Contacts settings end*/
/*Clients settings start*/
.client_list {
    margin: 0 10px 0;
    padding: 0 0 30px 0;
    
}
.item_client_list {
    display: inline-block;
    height: 100px;
    margin: 30px 10px 0 10px;
}
.item_client_list p {
    text-align: center;
    margin-top: 5px;
    border-top: solid 1px #999;
    padding-top: 5px;
}
.client_logo_ct, .client_logo_rt, .client_logo_gt, .client_logo_mf, .client_logo_mts, .client_logo_sb, .client_logo_moesk, .client_logo_vdnh {
    height: 65px;
    display: inline-block;
}
.client_logo_rt {
    background: url(img/rt_logo.png) no-repeat center;
    width: 150px;
}
.client_logo_ct {
    background: url(img/cnt_logo.png) no-repeat center;
    width: 225px;
}
.client_logo_gt {
    background: url(img/gt_logo.png) no-repeat center;
    width: 180px;
}
.client_logo_mf {
    background: url(img/mf_logo.png) no-repeat center;
    width: 217px;
}
.client_logo_mts {
    background: url(img/mts_logo.png) no-repeat center;
    width: 150px;
}
.client_logo_sb {
    background: url(img/sb_logo.png) no-repeat center;
    width: 225px;
}
.client_logo_moesk {
    background: url(img/moesk_logo.png) no-repeat center;
    width: 180px;
}
.client_logo_vdnh {
    background: url(img/vdnh_logo.png) no-repeat center;
    width: 217px;
}
#our_clients > p {
    margin: 20px 30px 10px;
    text-align: left;
}
/*Client list settings end*/
/*Certificates list settings start*/
.certification_list {
	padding: 40px 20px 10px 20px;
}
.certification_list_item {
	border-bottom: solid 1px #999;
	margin-bottom: 20px; 
}
.certification_img_1, .certification_img_2 {
	width: 860px;
	display: inline-block;
	text-align: center; 
	margin-bottom: 10px; 
}
.certification_img_1 img, .certification_img_2 img {
	box-shadow: 0 0 10px #777;
	margin:0 5px 0; 
}
.certification_img_1 img {
	width: 160px;	
}
.certification_img_2 img {
	height: 226.25px;
}
.certification_img_1 img:hover, .certification_img_2 img:hover{
    box-shadow: 0 0 10px #78F6D9;
	cursor: pointer;
}
.certification_list_item p {
	text-align: center; 
	margin-bottom: 10px; 
	font-size: 17px;
}
/*Certificates list settings end*/
/*Main settings start*/
.about_us, #services p {
	margin: 20px 30px 20px 30px;
	text-align: justify;
	text-indent: 40px;
	line-height: 20px;
} 
#main .certification_img_2{
	width: 840px;
	margin: 0 30px 20px;
	padding: 0 0 30px;
	border-bottom: 1px solid #999;
	
}
#main .certification_img_2 img:hover{
	box-shadow: 0 0 10px #777;
	cursor: default;
}

.about_list {
	padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
}
    
.about_imgs {
    display: table-row;
    width: 860px;
}

.about_item_img_1, .about_item_img_2,.about_item_img_3 {
	display: table-cell;
	width: 286px;
	height: 256px;
}
.about_item_img_1 {
	background: url(img/history.png) 0 29px no-repeat;
}
.about_item_img_2 {
	background: url(img/worker.png) 14px 0 no-repeat;
}
.about_item_img_3 {
	background: url(img/activity.png) 0 74px no-repeat;
}
.about_item_content {
	display:table-row;
}
.about_item_text{
    display: table-cell;
    width: 260px;
}

.history_short, .history_long, .staff_short, .staff_long, .activity_short, .activity_long {
	color: #515862;
	font-size: 15px; 
	font-weight: 400;
	line-height: 15px; 
	text-align: center;
	line-height: 18px;
	
}
.history_long, .staff_long, .activity_long {
	display: none;
}
.about_item_text p:first-child {
	color:  #515862;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 10px;
	border-top: 1px solid #999;
	width: 200px;
	padding-top: 10px;
	margin-top: 10px;
	
}
.more, .history_long>span, .staff_long>span, .activity_long>span  {
	color: #41C695;
	font-size: 14px; 
	font-weight: 600;
	line-height: 15px; 
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

/*Main settings end*/
/*Services settings start*/
	#services li {
		line-height: 30px;
	}
	#services ul {
		margin-left: 30px;
		list-style-image: url('img/ic_label.png');
	}
/*Services settings end*/
/*Equipment settings start*/
	.equipment_list {
		margin: 20px 30px 10px;
		list-style: none;
		padding-left: 0;
		
	}
	.equipment_list_item {
		border-bottom: 1px solid #fff;
	}
	.equipment_list:last-child {
		border: none;
	}
	.title {
		background-color: rgba(50,47,47,.6);
	}
	.title:hover {
		background-color: rgba(50,47,47,.8);
		cursor: pointer;	
	}
	.equipment_list_item .title p {
		color: #fff;
		line-height: 40px;
		font-size: 22px;
		letter-spacing: 2px;
		display: inline-block;
		padding-left: 20px;
	}
	.arrow {
		float: right;
		background: url('img/arrow.png');
		background-position: 0 0;
		height: 40px;
		width: 40px;
		margin-right: 10px;
	}
	.arrow_up {
		background-position: -40px 0;
	}
	.current_equipment_list_item {
		background-color: rgba(50,47,47,.8);
	}
	.equipment_items {
		display: none;
		background-color:rgba(50,47,47,.4);
	}
	.equipment_items table {
		margin: 0;
		width: 840px;
		padding: 0 10px 0;
	}
	
	.equipment_items td:first-child {
		width: 90px;
	}
	.equipment_items td:last-child {
		width: 100px;
	} 
	.description {
		width: 611px;
		padding-left: 5px;
	}
	.equipment_items p {
		color: #fff;
		font-size: 18px;
	}
	.equipment_items>p {
		font-size: 20px;
		color: #78F6D9;
		margin: 0 0 10px 20px;
		line-height: 30px;
	}
/*Equipment settings end*/